.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-exit {
    opacity: 0;
    z-index: 0;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 50ms ease-in;
}